.chart::before {
  position: absolute;
  top: 50px;
  left: 300px;
  z-index: -1;
  display: block;
  width: 400px;
  height: 300px;
  content: " ";
  opacity: 0.3;
}

.tooltip {
  position: absolute;
  width: 135px;
  height: 60px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #551aaf;
  border: 0;
  border-radius: 10px;
}

.axis-text {
  font-family: sans-serif;
  font-weight: bold;
  fill: black;
  text-anchor: middle;     
}

.circle {
  fill:#3f59ee;
  opacity: .5;
  pointer-events: all;
}

.circleText{
  font-size:10px;
  text-anchor: "middle";
  fill:"white";
  font-weight:"bold";
  fill:"white"
}

/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}
